a {
    text-decoration: none;
    color: black;
}

ul, ol {
    margin: 0px;
	padding: 0px;
	list-style: none;
}

option {
    font-size: 16px;
    font-weight: normal;
    display: block;
    white-space: nowrap;
    line-height: 1.5;
    padding: 10px 0;
}

.form-select {
    width: 30%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 16px;
    line-height: 1.5;
}

.form-control {
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 16px;
    line-height: 1.5;
    width:100%;
}

.logo a{
    color: black;
    font-size: 22px;
    line-height:40px;
    font-weight: bold;
    text-decoration: underline;
}

.menu {
    text-align: center;
}

.menu a{
    color: #B9B9B9;
    font-size: 14px;
    line-height:40px;
    margin: 10px;
}

.menu a:hover {
    color: black;
}

.login-button {
    text-align: right;
}

.button {
    display: inline-block;
    padding: 10px;
    background-color: rgb(41, 40, 40);;
    color: white;
}

.button.green {
    font-size: 14px;
    padding: 10px 15px;
    background-color: white;
    color:#363D38;
    border: 1.5px solid #00AAA9;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.link-button {
    color:#00AAA9;
}

.nav-wrap {
    padding: 20px 30px;
}

.nav-items {
    display: flex;
    justify-content: center;
}

.nav-item {
    padding: 0px 20px;
}

.container2 {
    border-top: 1px solid lightgray;
    margin: 0px 30px;
}


.post-list-container{
    margin: 0px auto;
    padding-top: 60px;
}

.post-list-container h2{
    margin-top: 30px;
    margin-left: 150px;
}

.post-list-wrap {
    display: flex;
    justify-content: center;
}

.post-list {
    width: 80%;
}

.post-list a {
    color: black;
}

.post-list-container th{
    padding: 6px;
    border-bottom: 1px solid dimgray;
}


.post-list-container table{
    border-collapse: collapse;
}

.post-list-container td{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.post-list .col1 {
    width: 25%;
    text-align: center;
}

.post-list .col2 {
    width: 50%;
}

.post-list .col3 {
    width: 25%;
    text-align: center;
}

.post-list-header {
    margin: 20px 120px 20px 0px;
    display: flex;
    justify-content: flex-end;
}

.post-detail {
    width: 60%;
    margin: 60px auto;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.post-detail-footer {
    display: flex;
    justify-content: flex-end;
}

.post-detail-footer a{
    margin-left: 20px;
}

.login-wrap{
    width:fit-content;
    margin: 15vh auto;
}

.login-wrap input{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
    font-size: 14px;
    vertical-align: middle;
    border: 1px solid grey;
    appearance: none;

}

.login-wrap button{
    margin: 30px 50px;
    width: 200px;
    height: 40px;
    font-size: 14px;
    background-color: rgb(41, 40, 40);
    color: white;
    border: none;
}

.login-wrap p {
    margin-top:0px;
    text-align: center;
}

.pagination-wrap {
    margin-top: 60px;
}

.pagination {
    display:flex;
    justify-content: center;
    padding-left:0;
    list-style:none;
}

.page-link{
    position:relative;
    display:block;
    color:dimgray;
    text-decoration:none;
    background-color:#fff;
    border:1px solid #dee2e6;
}

.page-link:hover{
    z-index:2;
    color:black;
    background-color:#e9ecef;
    border-color:#dee2e6
}
.page-link:focus{
    z-index:3;
    color:black;
    background-color:#e9ecef;
    outline:0;
    box-shadow:0 0 0 .25rem rgba(13,110,253,.25)
}
.page-item:not(:first-child).page-link{
    margin-left:-1px
}
.page-item.active .page-link{
    z-index:3;
    color:#fff;
    background-color:#474a4d;
    border-color:black;
}
.page-item.disabled .page-link{
    color:#6c757d;
    pointer-events:none;
    background-color:#fff;
    border-color:#dee2e6
}
.page-link{
    padding:.375rem .75rem
}
.page-item:first-child .page-link{
    border-top-left-radius:.25rem;
    border-bottom-left-radius:.25rem
}
.page-item:last-child .page-link{
    border-top-right-radius:.25rem;
    border-bottom-right-radius:.25rem
}

.post-form {
    width: 60%;
    margin: 30px auto;
    padding-top: 30px;
}

.label-box {
    margin-top: 30px;
    margin-bottom: 30px;
}

#main_wrap {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display:flex;
    height: 80vh;
}
#main_img_wrap{
    display:flex;
    width:45%;
    justify-content: center;
}
#main_img_wrap img {
    height:90%;
}
#main_text_wrap {
    width:45%;
}
#main_text_wrap h1 {
    margin-top: 30vh;
    margin-bottom: 5vh;
    text-align: center;
}
.center_wrap {
    display:flex;
    justify-content: center;
}
#description_wrap {
    margin: 30vh 15vw 10vh 15vw;
}
#description_wrap h1 {
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    color: #191919;
    text-transform: uppercase;
}
#site_description {
    width: 100%;
    font-size: 20px;
    color: #191919;
    text-align: center;
    margin-left: 0px;
}
#description_box{
    width: 60vw;
    margin: 0 auto 30vh;
    text-align: center;
    border: 2px solid #424242;
    padding: 40px;
    border-radius: 20px;
    display: flow-root;
    font-size: 20px;
}
.quote_icon {
    width: 100%;
    text-align: left;
}

.footer {
    background-color: rgb(41, 40, 40);
    height: auto;
    padding: 10vh 10vw;
    color: rgb(235, 235, 235);
    margin-top: 30vh;
}

.footer_text {
    margin: 30px;
}

.page_description {
    margin: 20vh 15vw 20vh 15vw;
}

.page_description h1 {
    font-weight: bold;
    text-align: center;
    color: #191919;
}

.page_description p {
    font-size: 16px;
    color: #191919;
    text-align: center;
}

.album {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-bottom:40vh;
}
.restaurant_wrap {
    padding: 20px;
	background-color: #fff;
	margin: 20px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.restaurant_img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.restaurant_footer {
    padding: 0px 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.heart {
    width:25px;
}
.heart_big {
    width:35px;
}
.alert{
    position:relative;
    padding:1rem 1rem;
    margin: 20px 40px;
    border:1px solid transparent;
    border-radius:.25rem;
}

.error {
    color:#842029;
    background-color:#f8d7da;
    border-color:#f5c2c7
}

.success {
    color:#0f5132;
    background-color:#d1e7dd;
    border-color:#badbcc;
}
.signup_wrap {
    margin: 15vh auto;
    width: 30vw;
}

.signup_wrap .input_field input{
    margin-bottom: 10px;
    margin-top: 10px;
    height: 40px;
    width: 100%;
    font-size: 14px;
    vertical-align: middle;
    border: 1px solid grey;
    appearance: none;
}

.signup_wrap button {
    margin: 30px;
    width: 200px;
    height: 40px;
    font-size: 14px;
    background-color: rgb(41, 40, 40);; 
    color: white;
    border: none;
}
.btn {
    display:inline-block;
    font-weight:400;
    line-height:1.7;
    color:#212529;
    text-align:center;
    text-decoration:none;
    vertical-align:middle;
    cursor:pointer;
    background-color:transparent;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    border-radius:.25rem;
}

.btn-dark{color:#fff;
    background-color:rgb(41, 40, 40);
    border-color:rgb(41, 40, 40);
}

.username {
    font-size: 14px;
    margin-right: 5px;
}

.signup_wrap .input_field textarea{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
    vertical-align: middle;
    border: 1px solid grey;
    appearance: none;
}

.contact_wrap{
    margin: 20vh 15vw 0vh 15vw;
    text-align: center;
}

.place_description {
    margin: 20vh auto;
    width:800px;
    padding: 30px;
	background-color: #fff;
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.place_description p{
    color:#474747;
}
.result_wrap {
    margin: 10vh auto;
    text-align: center;
}
.result_wrap a{
    text-decoration: underline;
}

#restaurant1_wrap img{
    margin-top:20px;
    width: 20vw;
}
#restaurant23_wrap a{
    line-height: 1.5;
}
.signup_wrap .input_field select{
    margin-bottom: 10px;
    margin-top: 10px;
    height: 40px;
    width: 100%;
    font-size: 14px;
    vertical-align: middle;
    border: 1px solid grey;
}
.place_description_header {
    display: flex;
    justify-content: space-between;
}