{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container2">
    {% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}">
            <strong>{{ message.tags }}</strong>
            <ul><li>{{ message.message }}</li></ul>
        </div>
    {% endfor %}
    {% endif %}
    <div class="page_description">
        <h1>FOOD PLANNER</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </div>
    <div class="preference_selection" id="pref_cat">
        <h2>CATEGORY</h2>
        <div class ="album">
            <div class="select_wrap category" value="0">
                <img src="{% static 'img/food_planner/고기.jpg' %}">
                <p>고기</p>
            </div>
            <div class="select_wrap category" value="1">
                <img src="{% static 'img/food_planner/국수.jpg' %}">
                <p>국수</p>
            </div>
            <div class="select_wrap category" value="2">
                <img src="{% static 'img/food_planner/백반.jpg' %}">
                <p>백반</p>
            </div>
            <div class="select_wrap category" value="3">
                <img src="{% static 'img/food_planner/아시안.jpg' %}">
                <p>아시안</p>
            </div>
            <div class="select_wrap category" value="4">
                <img src="{% static 'img/food_planner/양식.jpg' %}">
                <p>양식</p>
            </div>
            <div class="select_wrap category" value="5">
                <img src="{% static 'img/food_planner/일식.jpg' %}">
                <p>일식</p>
            </div>
            <div class="select_wrap category" value="6">
                <img src="{% static 'img/food_planner/중식.jpg' %}">
                <p>중식</p>
            </div>
        </div>
        <div class="center_wrap">
            <button type="submit" class="btn btn-dark next">NEXT</button>
        </div>
    </div>
    <div class="preference_selection" id="pref_others">
        <div>
            <div class="input_field">
                <label for="date">Date</label>
                <input type="datetime-local" id="date">
            </div>
            <div class="input_field">
                <label for="person_cnt">Size of party</label>
                <input type="text" id="person_cnt">
            </div>
            <div class="input_field">
                <label for="price">Price per person</label>
                <input type="text" id="price">
            </div>
            <div class="center_wrap">
                <button type="submit" class="btn btn-dark prev">PREV</button>
                <button type="submit" class="btn btn-dark submit">SUBMIT</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
$('#pref_others').hide();
$('.select_wrap.category').click(function() {
    localStorage.setItem('category', $(this).val());
});
$('#pref_cat .next').click(function() {
    $('#pref_cat').hide();
    $('#pref_others').show();
});
$('#pref_others .prev').click(function() {
    $('#pref_others').hide();
    $('#pref_cat').show();
});
$('#pref_others .submit').click(function() {
    localStorage.setItem('date', $('#date').val());
    localStorage.setItem('person_cnt', $('#person_cnt').val());
    localStorage.setItem('price', $('#price').val());
    const category = localStorage.getItem('category');
    const date = localStorage.getItem('date');
    const person_cnt = localStorage.getItem('person_cnt');
    const price = localStorage.getItem('price');
    $.ajax({
        // 여기부터
        url: 'test/',
        type: 'POST',
        data:JSON.stringify(myValue),
        success:function(json){
            console.log("data pass success",json.result);
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); 
        }
      });
});
{% endblock %}