{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container2">
    {% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}">
            <strong>{{ message.tags }}</strong>
            <ul><li>{{ message.message }}</li></ul>
        </div>
    {% endfor %}
    {% endif %}
    <div class="signup_wrap" id="contact_field">
    <h1>FOOD PLANNER</h1>
        <form method="post" action="{% url 'group5:food_planner' %}">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert error" role="alert">
                {% for field in form %}
                {% if field.errors %}
                <div>
                    <strong>{{ field.label }}</strong>
                    {{ field.errors }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <div class="input_field">
                <label for="category">Category</label>
                <input type="text" name="category" value="{{ form.category.value|default_if_none:'' }}">
            </div>
            <div class="input_field">
                <label for="date">Date</label>
                <input type="datetime-local" name="date" value="{{ form.date.value|default_if_none:'' }}">
            </div>
            <div class="input_field">
                <label for="person_cnt">Size of party</label>
                <input type="text" name="person_cnt" value="{{ form.person_cnt.value|default_if_none:'' }}">
            </div>
            <div class="input_field">
                <label for="price">Price per person</label>
                <input type="text" name="price" value="{{ form.price.value|default_if_none:'' }}">
            </div>
            <div class="center_wrap">
                <button type="submit" class="button">SEND</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}