{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container2">
    {% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}">
            <strong>{{ message.tags }}</strong>
            <ul><li>{{ message.message }}</li></ul>
        </div>
    {% endfor %}
    {% endif %}
    <div class="signup_wrap">
        <h1>FOOD PLANNER</h1>
        <div class="input_field">
            <label for="category">Category</label>
            <input type="text" id="category">
        </div>
        <div class="input_field">
            <label for="date">Date</label>
            <input type="datetime-local" id="date">
        </div>
        <div class="input_field">
            <label for="person_cnt">Size of Party</label>
            <input type="text" id="person_cnt">
        </div>
        <div class="input_field">
            <label for="price">Price per Person</label>
            <input type="text" id="price">
        </div>
        <div class="center_wrap">
            <button type="submit" class="btn btn-dark" id="send_preference">SEND</button>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
$('#send_preference').click(function() {
    const obj = {
        category: $('#category').val(),
        date: $('#date').val(),
        person_cnt: $('#person_cnt').val(),
        price: $('#price').val()
    };

    $.ajax({
        url: 'recommendation/',
        type: 'POST',
        data:JSON.stringify(obj),
        success:function(json){
            console.log("data pass success",json.result);
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); 
        }
      });
});
</script>
{% endblock %}