{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container2">
    <div id="main_wrap">
        <div id="main_img_wrap">
                <img src="{% static 'img/main_img2.jpg' %}">
        </div>
        <div id="main_text_wrap">
            <h1>당신 주변의 맛집을 둘러보세요.</h1>
            <div class="center_wrap"><a href="{% url 'group5:discover' %}" id="main_button" class="btn btn-dark">Discover</a></div>
        </div>
    </div>
</div>
<div class="container2">
    <div class="center_wrap">
        <div id="description_wrap">
            <h1>OUR GOALS</h1>
            <p id="site_description">광고 아닌 진짜 맛집을 찾을 순 없을까? 맛집에 진심인 공동 창업자 4명의 고민으로 시작된 Oh!matkase</p>
        </div>
    </div>
    <div id="description_box">
        <div class="quote_icon">
            <img src="{% static 'img/quote-icon.png' %}">
        </div>
        <img src="{% static 'img/description_img2.jpg' %}" width="60%">
        <p>정보 오염으로부터 free한 신뢰도 높은 맛집을 추천하는 플래너를 제공합니다. 
            당신의 취향을 듬뿍 담아보세요.</p>
    </div>
</div>
{% endblock %}